.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 20%;
  flex-wrap: wrap;
  gap: 96px;
  
  padding: 48px 0;

  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.wrapper:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@media screen and (max-width: 900px) {
  .wrapper {
    width:80%;
  }  
}

.hora {
  padding-left: 12px;
  font-family: "Poppins", sans-serif;
  color: #1e7e34 ;
  text-align: center;
  font-size: 40px;
}

.time {
  color:#1b2652;
  text-align: center;

}

.hora-custom {
  padding-right: 12px;
  font-family: "Poppins", sans-serif;
  color:#1b2652;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.group {
  position: relative;
}

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 200px;
  border: none;
  border-bottom: 1px solid #757575;
}
input:focus {
  outline: none;
}

/* LABEL ======================================= */
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264ae;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 215px;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264ae;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}
